In [1]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv(r"data\churn_data_processed.csv",usecols=lambda column: not column.startswith('Unnamed') )
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15815690,Akabueze,614.0,Spain,Female,40.0,3.0,113348.50,1,1,1,77789.01,0
1,15815660,Mazzi,758.0,France,Female,34.0,1.0,154139.45,1,1,1,60728.89,0
2,15815656,Hopkins,541.0,Germany,Female,39.0,9.0,100116.67,1,1,1,199808.10,1
3,15815645,Akhtar,481.0,France,NotSpecified,37.0,8.0,152303.66,2,1,1,175082.20,0
4,15815628,Moysey,711.0,France,Female,37.0,8.0,113899.92,1,0,0,80215.20,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          10000 non-null  object
 2   CreditScore      10000 non-null  float64
 3   Geography        10000 non-null  object
 4   Gender           10000 non-null  object
 5   Age              10000 non-null  float64
 6   Tenure           10000 non-null  float64
 7   Balance          10000 non-null  float64
 8   NumOfProducts    10000 non-null  int64
 9   HasCrCard        10000 non-null  int64
 10  IsActiveMember   10000 non-null  int64
 11  EstimatedSalary  10000 non-null  float64
 12  Exited           10000 non-null  int64
dtypes: float64(5), int64(5), object(3)
memory usage: 1015.8+ KB

In [19]:
df['CreditScore']=df['CreditScore'].astype('int64')

In [21]:
df['CreditScore'].dtype

dtype('int64')

In [23]:
df['Age']=df['Age'].astype('int64')

In [27]:
df['Age'].dtype

dtype('int64')

In [29]:
df['Tenure']=df['Tenure'].astype('int64')

In [31]:
df['Tenure'].dtype

dtype('int64')

In [39]:
df=df.drop(['CustomerId','Surname'],axis=1)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [43]:
df.to_csv(r"data\processed_data.csv")